<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../public/publisher2.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../public/publisher.css" />
    <!-- <style>
        #map { height: 500px;
        width: 500px; 
    flex: 1;} -->
    <!-- </style> -->
  </head>

  <body
    style="
      background-color: #efeae3;
      background-image: url(bgimage2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div id="main">
      <div id="page1">

        <div id="nav2">
          <img src="../public/unidrive. (1920 x 500 px).png" alt="" class="small-nav-logo" onclick="window.location.href = '/home'">
      <label class="popup">
          <input type="checkbox">
          <div class="burger" tabindex="0">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <nav class="popup-window">
            <legend>Commute</legend>
            <ul>
              <li>
                <button onclick=
                "window.location.href = '/passenger'">
                  <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle r="4" cy="7" cx="9"></circle>
                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                  </svg>
                  <span>Request a Ride.</span>
                </button>
              </li>
              <li>
                <button onclick=
                "window.location.href = '/publisher'">
                  <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                    <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                  </svg>
                  <span>Publish a Ride.</span>
                </button>
              </li>
              <hr>
              <!-- <li> -->
                <!-- <button onclick="window.location.href='/landing'">
                  <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <rect ry="2" rx="2" height="13" width="13" y="9" x="9"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                  </svg>
                  <span>About</span>
                </button> -->
              <!-- </li> -->
              <li>
                <button onclick="window.location.href = '/home'">
                  <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                  </svg>
                  <span>Home</span>
                </button>
              </li>
              <!-- <li>
                <button>
                  <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <line y2="18" x2="6" y1="6" x1="18"></line>
                    <line y2="18" x2="18" y1="6" x1="6"></line>
                  </svg>
                  <span>Delete</span>
                </button>
              </li> -->
            </ul>
          </nav>
        </label>
      </div>

        <div class="nav-big">
            <img
              id="logo-image"
              onclick="window.location.href = '/home'"
              src="../public/unidrive-high-resolution-logo-transparent.png"
              alt=""
              style="cursor: pointer"
            />
            <div id="nav-part2">
              <button
                class="nav-butt"
                onclick="window.location.href = '/passenger'"
                style="background-color: #227c70; color: #efeae3"
              >
                <a>Request a Ride</a>
              </button>
              <button
                class="nav-butt"
                onclick="window.location.href = '/publisher'"
              >
                <a>Publish a Ride</a>
              </button>
              <button
                class="nav-butt"
                onclick="window.location.href = '/account'"
              >
                <a>Profile</a>
              </button>
            </div>
        </div>
        <div id="map-container">
          <div id="map"></div>
          <div id="saerch-bar-div">
            <div id="geocoder" class="geocoder"></div>
          </div>
        </div>
        <div id="publisher-button-container">
            <button class="animated-button" id="request-button"
            onclick="window.location.href = '/calculatedistance'">
              <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
              </svg>
              <span class="text">R E Q U E S T</span>
              <span class="circle"></span>
              <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
              </svg>
            </button>
        </div>
      </div>
    </div>
    <script src="../public/passenger.js"></script>
    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
  </body>
</html>
